<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="super_discount" version="2.5">

  <display-name>Quick Release System</display-name>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:/summer/summer-application.xml</param-value>
    </context-param>

    <!--自定义上下文载入监听器-->
    <listener>
        <listener-class>com.yabadun.listener.ContextLoaderListener</listener-class>
    </listener>
    
    <servlet>
        <servlet-name>testServlet</servlet-name>
        <servlet-class>com.yabadun.mall.servlets.TestServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>testServlet</servlet-name>
        <url-pattern>/Servlet/test</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.jpg</url-pattern>
        <url-pattern>*.png</url-pattern>
        <url-pattern>*.gif</url-pattern>
        <url-pattern>*.js</url-pattern>
        <url-pattern>*.css</url-pattern>
        <url-pattern>*.ico</url-pattern>
        <url-pattern>*.woff</url-pattern>
        <url-pattern>*.ttf</url-pattern>
        <url-pattern>*.map</url-pattern>
    </servlet-mapping>

    <!--自定义请求分发Servlet-->
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>com.yabadun.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <description>加载/WEB-INF/summer/目录下的所有XML作为Summer MVC的配置文件</description>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:/summer/summer-web.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <!-- 简单的登录拦截 -->
    <filter>
        <filter-name>SecurityServlet</filter-name>
        <filter-class>com.yabadun.mall.servlets.SecurityServlet</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SecurityServlet</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>
    <!--<filter-mapping>
        <filter-name>SecurityServlet</filter-name>
        <url-pattern>*.do</url-pattern>
    </filter-mapping>-->

    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/views/error/404.jsp</location>
    </error-page>

</web-app>
